.form {
  display: flex;
  gap: 10px;
  width: 400px;
  flex-wrap: wrap;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 10px;
}

.input {
  display: flex;
  width: 300px;
  margin-top: 5px;
  padding: 5px;
}

.button__form {
  width: 100px;
  margin-top: 20px;
}
